
*{
    font-family: 'Nunito', sans-serif;
}
#loader{
	height: 120vh;
	width: 100%;
	z-index: 10000;
	position: fixed;
}
html,
body {
  background: rgb(38,42,43);
background: -moz-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: -webkit-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262a2b",endColorstr="#403255",GradientType=1);
}

body .page-content {
  margin-top: 110px;
  background-color: #27292a;
  padding: 60px;
  border-radius: 23px;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

h4{
  color: rgb(219, 213, 213) !important;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #e75e8d;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #e75e8d;
  border-radius: 50%;
}


.main-banner {
  
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.main-banner h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-banner h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-banner h4 em {
  font-style: normal;
  color: #ec6090;
}



.main-button a,.btn-send {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover, .btn-send:hover {
  background-color: #fff;
  color: #e75e8d;
}

.btn-send{
    border-radius: 0px;
}
.main-border-button a {
  font-size: 14px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-border-button a:hover {
  border-color: #fff;
  background-color: #fff;
  color: #e75e8d;
}

.border-no-active a {
  border-color: #666;
  color: #666;
}

.border-no-active a:hover{
  border-color: #666;
  color: #666;
  background-color: transparent;
}

.other h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.other h4 em {
  font-style: normal;
  color: #ec6090;
}
/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color:gray;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #ec6090 !important;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: var(--dark);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(38, 42, 43, 0.747);
background: -moz-linear-gradient(108deg, rgba(38, 42, 43, 0.589) 0%, rgba(64, 50, 85, 0.596) 100%);
background: -webkit-linear-gradient(108deg, rgba(38, 42, 43, 0.692) 0%, rgba(64, 50, 85, 0.603) 100%);
background: linear-gradient(108deg, rgba(38, 42, 43, 0.616) 0%, rgba(64, 50, 85, 0.596) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262a2b",endColorstr="#403255",GradientType=1);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
    border: none !important;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
}


@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .06);
}


/*** Donate ***/
.donate {
    background: rgba(38, 42, 43, 0.747);
background: -moz-linear-gradient(108deg, rgba(38, 42, 43, 0.589) 0%, rgba(64, 50, 85, 0.596) 100%);
background: -webkit-linear-gradient(108deg, rgba(38, 42, 43, 0.692) 0%, rgba(64, 50, 85, 0.603) 100%);
background: linear-gradient(108deg, rgba(38, 42, 43, 0.616) 0%, rgba(64, 50, 85, 0.596) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262a2b",endColorstr="#403255",GradientType=1);
}

.btn-group .btn-light:hover,
.btn-group input[type="radio"]:checked+label {
    color: var(--primary);
    border-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgb(50 43 58) 0%, rgba(68, 40, 75, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgb(61, 49, 80) 0%, rgba(236, 234, 240, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: rgb(7, 7, 20);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: rgb(38,42,43);
background: -moz-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: -webkit-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262a2b",endColorstr="#403255",GradientType=1);;
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: whitesmoke !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: white !important;
} 

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: #e75e8d;
    font-size: 30px;
    transition: .5s;
    border: none !important;
    background-color: transparent;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #e75e8d;
}


.logo{
    width: 50px;
}

.carousel-item img{
    height: 50vh !important;
    object-fit: cover;
}

@media(min-width:768px){
        .carousel-item img{
        height: 100vh !important;
        object-fit: cover;
    }
}


.minmal{
    transition: .6s;
    color: #1DA1F2 !important;
}

.btn-grad:hover {
    background: #fff;
    color: #1DA1F2;
}

.btn-grad:active {
    transform: translateY(1px);
}
.btn-grad:hover .minmal{
    background-color: #1DA1F2 !important;
}
.btn-grad:hover i{
    color: wheat !important;
}

.bg-gray{
    background: rgb(38,42,43);
background: -moz-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: -webkit-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262a2b",endColorstr="#403255",GradientType=1);
}

.badge-python {
  background: linear-gradient(to right, #4B8BBE, #306998);
}

.badge-html {
  background: linear-gradient(to bottom right, #E44D26, #F16529, #DC3522, #C73D32, #A61C21, #E44D26, #F16529, #DC3522);
}

.word{
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.badge-js{
    background-image: linear-gradient(to right, #F0DB4F, #FFCE5A, #FFA500); 
}






.footer-clean {
  padding:50px 0;
  background: rgb(38,42,43);
background: -moz-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: -webkit-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262a2b",endColorstr="#403255",GradientType=1);
  color:#eaf1f7;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
  color: #949292;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

@media(max-width:799px){
    .vid{
        flex-wrap: wrap !important;
    }
    .vid .video-container{
        margin-bottom: 7rem;
    }
    .vid h4{
        text-align: center;
    }
}


.ad-banner {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
  text-align: center;
}

.ad-banner h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ad-banner p {
  font-size: 20px;
  margin-bottom: 30px;
}

.colored{
    color:#ec6090 !important;
}
.border-color{
    border-color: #ec6090 !important;
}

.bg-card{
    background: rgb(38,42,43);
background: -moz-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: -webkit-linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
background: linear-gradient(108deg, rgba(38,42,43,1) 0%, rgba(64,50,85,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262a2b",endColorstr="#403255",GradientType=1);
}

.bg-card .btn-sm{
    padding: .3rem 1rem;
    border-radius: 5px;
}
.lost{
    bottom: 10px;
    right: 10px;
}
.bg-card p{
    color: rgb(155, 154, 151) !important;
}

@media(max-width:780px){
    .causes-item{
    padding-bottom: 2rem !important;
}
}



.float{
	position:fixed;
	z-index:1000;
	bottom:80px;
	right:40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}



    .float-btn {
        position: fixed;
        bottom: 60px;
        right: 20px;
        background-color: #25d366;
        color: white;
        border: none;
        padding: 5px 20px;
        border-radius: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-family: Arial, sans-serif;
        font-size: 16px;
        transition: background-color 0.3s ease-in-out;
    }

    .float-btn i {
        margin-right: 10px;
		font-size: 2rem ;
    }

    .float-btn:hover {
        background-color: #128c7e;
    }

    




.chat-logo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

    .chat-body {
        background-color: #dcf8c6;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
		width: 250px;
    }

    .chat-body p {
        margin: 0;
		line-height: 18px;
		color: rgb(85, 84, 84);
    }


.real-chat{
	
	background-color: #25d366;
}


#chat-card{
	width: auto;
	
}
